.admin__log-in {
    position: absolute;
    text-align: end;
    top: 0;
    padding-top: 1rem;
}

.admin__log-in-link {
    font-size: var(--size-xs);
}

.sign-in__background {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sign-in__wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem 2rem 5rem;
    gap: 1rem;
    border-radius: 6px;
    background: linear-gradient(#033045, #43041a);
    /* border: 1px solid red; */
}

.sign-in__title {
    text-align: center;
    color: var(--clr-light);
    font-size: var(--size-4xl);
}

.sign-in__btn {
    font-size: var(--size-lg);
    text-align: center;
}

.sign-in__input {
    width: 15rem;
}

.sign-in__checkbox {
    display: block;
    position: relative;
    padding-left: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: var(--size-sm);
    color: var(--clr-light);
    font-weight: bold;
}

.sign-in__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.sign-in__checkmark {
    position: absolute;
    top: 3.8px;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    background-color: var(--clr-light);
}

.sign-in__checkbox:hover input~.sign-in__checkmark {
    background-color: var(--clr-emerald);
}

.sign-in__checkbox input:checked~.sign-in__checkmark {
    background-color: var(--clr-blue);
}

.sign-in__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.sign-in__checkbox input:checked~.sign-in__checkmark:after {
    display: block;
}

.sign-in__checkbox .sign-in__checkmark:after {
    left: 5.5px;
    top: 2.5px;
    width: 5px;
    height: 10px;
    border: solid var(--clr-light);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sign-in__link-2 {
    color: var(--clr-light);
    font-size: var(--size-sm);
}